body {
    font-family: "Montserrat";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat-Bold";
}

p {
    color: #8f8f8f;
}


/* headings section */

.big-heading {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4rem;
    font-weight: bolder;
    line-height: 1.5;
}

.section-heading {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
}


/* containers */

.container-fluid {
    padding: 7% 15%;
}


/* sections */

.colored-section {
    background-color: #ff4c68;
    color: white;
}

.white-section {
    background-color: white;
    color: black;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* Title-Image */

.column {
    padding-left: 6rem;
}

.title-image {
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}


/* Features */

#features {
    background-color: white;
    position: relative;
}

.feature-box {
    padding: 5%;
}

.feature-title {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}


/* Feature Icons */

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.feature-icon:hover {
    color: #ff4c68;
}


/* testimonials section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


/* press section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing section */

#pricing {
    padding: 5%;
}

.price-text {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }
    .title-image {
        width: 80%;
        position: static;
        transform: rotate(0);
    }
}


/* footer section */

.social-icon {
    margin: 20px 10px;
}